@import './fonts/Inter/inter-font.css';
@import './vendor/normalize.css';
body {
  background-color: #001624;
  font-family: 'Inter';
  font-weight: bold;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
	padding: 0 30px;
}


section {
	max-width: 775px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.cursor-shot {
	cursor: none;
  }

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently*/
}

.board {
	width: 100%;
    background-color: #002136;
    padding: 30px;
    box-sizing: border-box;
}

.submit-container-preloader {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* .cursor-strike {
	cursor: url('../src/images/cursor.svg'), auto;
} */

.custom-cursor {
	cursor: url('../src/images/cursor.svg') 18 18, auto;
	
}

@media screen and (max-width: 992px)  {
	.game {
		display: none;
	}

	.time {
		display: none;
	}
}